@{
    ViewBag.Title = "About";
}
<br />
<h2> Причины, почему покупатели выбирают наш интернет-магазин</h2>
<h3>  Покупать у нас выгодно!</h3>

<p>Наш интернет-магазин работает напрямую с производителями, 
    также обладает собственными производственными мощностями. 
    Поэтому и стоимость товара ощутимо ниже, чем у конкурентов 
    и подходит широкому кругу покупателей.</p>



<h3>Бонусная программа</h3>

<p>В интернет-магазине «Наш книжный» действует бонусная программа.</p>

<p>
    Бонусная программа — это возможность
    получить скидку на товары, в зависимости от количества и суммы заказов.
    Максимальный размер скидки - <span class="font-weight-bold"> 30%</span>!
    Клиент, сделавший первый заказ, получает скидку в 5% на все последующие заказы.
</p>
<p> Как только суммарная стоимость заказов превышает 10 тысяч рублей размер скидки увеличивается до 10%. </p>

<p> Также дополнительные скидки или подарки Вы можете получить за отзывы к купленным товарам.</p>

