@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<br/>
<hgroup class="title">
    <h2>Подтверждение смены пароля</h2>
</hgroup>
<div>
    <p>
        Вам отправлено письмо со ссылкой для смены пароля.
        Пожалуйста, проверьте свою почту.
    </p>
</div>
	
